<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ajouter une activité</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeActivity()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submit()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nom</span>
          <input type="text" ng-model="data.nom">
        </label>
        <label class="item item-input">
          <span class="input-label">Categorie</span>
          <select name="" id="" ng-model="data.cat">
            <option ng-repeat="cat in cats" value="{{cat.id}}">{{cat.nom}}</option>
          </select>
            </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="data.description">
        </label>
        <label class="item item-input">
          <span class="input-label">Adresse</span>
          <input type="texte" ng-model="data.adresse">
        </label>
        <label class="item item-input">
          <span class="input-label">photo</span>
          <input type="texte" ng-model="data.photo">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" name="submit" value="Submit to server">Log in</button>
        </label>
      </div>
    </form>

    <div class="item item-text-wrap">
        Response: {{reponse}}
    </div>


  </ion-content>

</ion-modal-view>
