<ion-view>
  <ion-content>
<div class="team">
  <img src="img/team.jpg">
  <h1>le Projet et l'équipe</h1>

  <p>Le projet "Wavi" est le resultat de notre projet tutoré de deuxième année en DUT MMI de Champs sur Marne, ainsi que la collaboration de 6 étudiants.</p>

  <h1>L'application en elle même</h1>

  <p>Wavi est une application qui permet à l’utilisateur de chercher des lieux et activités autour de lui en fonction de ses centres d’intérêt et de ses envies immédiates, puis de les noter et de les commenter. Il a également la possibilité de proposer lui-même un lieu/une activité afin d’enrichir Wavi.</p>
  <p>Wavi est une application encore très jeune, soyez indulgents envers les éventuels bugs ! Si vous voulez rapporter une erreur, un bug ou nous faire des éloges,</p>

  <p>contacter nous à:</p>
  <p style="color:#64dd17">wavi.corporation@gmail.com</p>

</div>


  </ion-content>

</ion-view>
