<ion-view>



  <ion-header-bar class="vert headerfiltre">
    <div class="filtrebar center down"><p>Filtres</p></div>
  </ion-header-bar>

  <ion-content class="contenthome">

    <div class="filtres">

    </div>
    <ion-list class="listefiltre">
      <div ng-repeat='cat in cats'>
        <li class="item item-checkbox-square filtre">

        <img src="img/{{cat.couleur}}.png" alt="" id="rond">

    <label>
      <input ng-model='cat.value' type='checkbox' class="checkbox" ng-true-value="'YES'" ng-false-value="'NO'">
      {{cat.nom}}
    </label>
  </li>
  </div>
    </ion-list>

    <h5 id="textgo">Sélectionnez vos filtres et c'est parti !</h5>
    <a href="#/app/map" ng-click="filtrer()">
  <button class="button go vert">
  GO !
  </button>
</a>
</form>
  </ion-content>
<a href="" ng-click="Activity()">
  <div class="bar bar-footer bar-assertive ajoutactivite">
<p>Ajouter une activité</p>
  <button class="button icon ion-plus"></button>
  </div>
</a>
</ion-view>
