<ion-modal-view>
  <ion-header-bar class="headerbar">
    <h1 class="title">{{selectedlieu.nom}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLieu()">Close</button>
    </div>
  </ion-header-bar>
<ion-content>
<div class="titre_lieux">
  <h1>{{selectedlieu.nom}}</h1>
  <h2>{{selectedlieu.categorie}}</h2>
  <div>Note : {{selectedlieu.note}}/5</div>
</div>
  <img class="image_lieux" src="{{selectedlieu.photo}}" alt="">
  <div class="description_lieux">
   <p>{{selectedlieu.description}}</p>
 </div>
 <div class="buttons_lieux">
     <button  menu-close  class="button button-assertive" ng-click="closeLieu()">
        RETOUR
     </button>
     <button  menu-close  class="button button-balanced" ng-model="go" ng-click="allonsy()">
        ALLONS Y
     </button>
   </div>
   <button class="button button-balanced center ajouter" ng-click="showPopup()">
       Ajouter un commentaire
       </button>
       <button class="button button-balanced center" ng-click="showPopupNote()">
           Noter
           </button>


<div class="list">
    <a class="item item-avatar" href="#" ng-repeat="comment in comments">
      <img src="{{comment.avatar}}">
      <h2>{{comment.prenom}}</h2>
      <p>{{comment.contenu}}</p>
      <p>{{comment.date}}</p>
    </a>
</div>
<a href="" class="center linkcomment" ng-click="showComments()">Voir tout les commentaires</a>
</ion-content>
