<ion-view>
  <ion-modal-content>
        <img src="img/wavi3.png" alt="" class="logo center">
        <form name="myform">
        <label class="item-sociaux">
            <button class="button button-full button-positive">
                Connexion avec Facebook
            </button>
            <button class="button button-full button-red">
               Connexion avec Google
            </button>
        </label>
      <div class="list">
      <label class="item item-input item-stacked-label">
        <input ng-model="data.pseudo" ng-minlength="4" type="text" placeholder="Identifiant" required>
      </label>
      <label class="item item-input item-stacked-label">
        <input ng-model="data.password" ng-minlength="4" type="password" placeholder="Mot de passe" required>
      </label>
      <div class="boutonslogin">
        <button  ng-click="doLogin()" class="button button-assertive buttonlogin">
            Connexion
        </button>
        <button ng-click="login()" class="button button-assertive buttonlogin">
          Inscription
        </button>
      </div>
     </div>
    </form>
    <div class="item item-text-wrap">
        Response: {{currentUser.prenom}}
    </div>
  </ion-modal-content>
</ion-view>
