/* Empty. Add your own CSS if you like */

.test{
  background-color: red;
  height: 200px;
  width: 100%;
  display: none;
}

.has-header{
  top: 20px
}

.menumaterial{
  position: absolute;
  top: 0;
}

.headerbar{
  background-color: #64dd17;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.icon{
  position: absolute;
  width: 20px;
  height: 20px;
  float: left;
}

.itemmenu{
  text-align: center;
}

.couverturemenu{
  height: 220px;
  width: 100%;
  /*background-image: url('http://img.lum.dolimg.com/v1/images/databank_mustafar_01_169_5b470758.jpeg?region=0%2C0%2C1560%2C878&width=768');*/
  background-image: url(../img/wavicouv.jpg);
  background-position: center;
  background-size: cover;
}

.avatarmenu{
  position: relative;
  top: 70px;
  width: 80px;
  height: 80px;
  margin-left: 15px;
  border: solid 1px black;
  box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  background-image: url();
}

#textmenu{
  margin-left: 15px;
  color: white;
  margin-top: 100px;
}

ion-nav-view{
  z-index: -10;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vert{
    background-color: #64dd17;
}

.aligne{
  display: inline-block;
}

/*//----HEADER-----//*/
.header{
  background-color: #64dd17;
}

 .button-menu{
   color: white;
 }

/*//----HOME-----//*/

.go{
  display: block;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}

.pointe:active{
  opacity: 0.8;
}

.headerfiltre{
  height: 120px;
}

.contenthome{
  bottom: 44px;
}

.filtres{
  display: none;
  position: absolute;
  top: 0;
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-attachment: fixed;
  text-align: center;
  z-index : 1;
}

.up {
  color: red;
}

.filtre{
  height: 70px;
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.2s ease;

}

.filtre:active{
  background-color: rgb(210, 210, 210);
  transition: all 0.2s ease;
}

.listefiltre{
  display: none;
  height: 400px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.checkbox{
  float: right;
}

#rond{
  width: 40px;
  float: left;
}

.filtrebar{
  text-align: center;
  margin-top: 68px;
  background-color: white;
  width: 95%;
  height: 40px;
  font-size: 20px;
  color: black;
}

.filtrebar:active{
  background-color: grey;
}

.cursor{
    display: block;
    width:60px;
    margin-right: auto;
    margin-left: auto;
    margin-top:5vh;
}

.home{
    margin-top: 100px;
    position: relative;
}

.go{
     width: 30%;
     height: 20%;
     margin-left: auto;
     margin-right: auto;
     margin-top:50px;
}

#textgo{
  text-align: center;
  margin-top: 100px;
}
.ajoutactivite{
  z-index: -1;
  box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/*//----MAP-----//*/

ng-map{
  position: relative;
  top: 20px;
  height: 95%;
  width: 100%;
}

.zoom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.windowleft{
  float: left;
}

.windowright{
float: right;
}

.photo{
  width: 100%;
}

/*//----LIEU-----//*/

.left{
  height: 40px;
  width: 40px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 10px;
}
.rating {
   direction: rtl;
   text-align: center;
}

.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 30px;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}
.titrelieu{
  width: 100%;
  display: inline-block;
}

.right{
  float: right;
}

.image_lieux{
 width:100%;
 margin-top: 20px;
}

.titre_lieux{
    margin-top: 10px;
    margin-left: 20px;
}

.titre_lieux > h2{
    color:#6c6c6c;
    font-size: 1.3em;
}

.titre_lieux > h1{
    color:black;
    font-size: 1.3em;
    margin-top: 40px;
}

.description_lieux > p{
    width: 80%;
    text-align: center;
    font-size: 1.3em;
    color:#6c6c6c;
    margin-top: 20px;
    margin-left: 10px;

}

.buttons_lieux{
 margin-top: 60px;
 margin-left: 20px;
 width: 100%;

}

.buttons_lieux > .button-assertive{
width: 35%;
}

.buttons_lieux > .button-balanced{
width: 35%;
margin-left: 10px;
}

.ajouter{
  margin-top: 20px;
}

.linkcomment{
  color: rgba(0, 0, 0, 0.5);
}

/*//----Login-----//*/

.divlogo{
  position: absolute;
  width: 100%;
  text-align: center;
}

.boutonslogin{
  text-align: center;
  margin-top:50px;

}

 .buttonlogin{
    width: 40%;
    height: 60%;
    margin: 10px;
}

.button.button-red{
    background-color: red;
    color: white;
}

.logo{
    margin-top: 80px;
    width: 200px;
    height: 120px;
}



.item-stacked-label{
    border:hidden;
    margin-top: 30px;

}

.ng-invalid.ng-dirty{
    border-bottom:2px solid red;
}

/*//----COMPTE-----//*/

.couverture{
  margin-top: 40px;
    height: 160px;
    width: 100%;
    /*background-image: url('http://img.lum.dolimg.com/v1/images/databank_mustafar_01_169_5b470758.jpeg?region=0%2C0%2C1560%2C878&width=768');*/
    background-image: url(../img/wavicouv.jpg);
    background-position: center;
    background-size: contain;
    text-align: center;
}

.avatar {
    position: relative;
    top: 30px;
    width: 120px;
    height: 120px;
    border: solid 1px black;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    background-position: center;
    background-size: cover;
}

.account{
  width: 100%;
  text-align: center;
}

.deconnexion{
  font-size: 12px;
  margin-right: 10px
}
.modification{
  font-size: 12px;
  margin-left: 10px;
}

/*//----Inscription-----//*/

.liste p{
    margin-top: 100px;
    color: #64dd17;
    font-size: 1.5em;
}

.liste{
    display: block;
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.forminscription .item-stacked-label{
    border-bottom: 1px solid grey;
    margin-top: 30px;
}



.boutons .button{
  width: 50%;
}

.boutons{
  text-align: center;
}
